@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <img src="~/images/PerfumeShop2.jpeg" alt="Product Image" style="margin-top:130px" width="650" height="90" />
</div>
